<h1>Tibia Traveller!</h1>

<%= simple_form_for :search, method: :get do |f| %>
  <% search = params[:search] %>
  <%= f.input :origin, placeholder: "from Venore", collection: @cities, include_hidden: false, selected: search ? search[:origin] : 1 %>
  <%= f.input :destination, placeholder: "to Kazordoon", collection: @cities, include_hidden: false, selected: search ? search[:destination] : 1 %>
  <%= f.submit "Find best route!" %>
<% end %>


<% if @transportations %>
  <% @transportations.each do |transportation| %>
    <p>
      Take the <strong><%= transportation.means %></strong>
      with <strong><%= transportation.npc_name %> </strong>
      at <strong><%= transportation.from_city.name %> </strong>
      to get to <strong><%= transportation.to_city.name %> </strong>
      by the price of <strong><%= transportation.price %> gps</strong>
    </p>
  <% end %>
<% end %>

